<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de la Orden</title>
</head>
<body>
    <h1>¡Gracias por tu Compra!</h1>
    <p>Tu orden ha sido confirmada exitosamente.</p>
    <!-- Detalles adicionales de la orden, como número de seguimiento o confirmación de pago -->
</body>
</html>
